In [7]:
print ("hola Mundo")

hola Mundo

Identacion

In [10]:
variable = 5
if variable==5 :
    print ("TRUE")
else:
    print ("FALSE")

TRUE

In [16]:
variable = 5
if variable==5 :
    print ("TRUE")
else:
    print ("FALSE")

TRUE

#COMENTARIO

In [23]:
variable = 5
#COMENTAR CODIGO

"""Comentario para varias 
lineas """

if variable==5 :
    print ("TRUE")    
    print (1)    
    print ("fin")
else:
    print ("FALSE")

TRUE
1
fin

VARIABLES Y TIPO DE DATOS

In [36]:
nombre = 'Ariel Castro'# variable de tipo string
edad = 30              # varible de tipo entero
altura = 1.70          # variable de tipo Float 
es_estudiante = True    # variable de tipo bool
print (nombre)
print (edad)
print (altura)
print (es_estudiante)

Ariel Castro
30
1.7
True

In [39]:
nombre = 'Ariel Castro'# variable de tipo string
edad = 30              # varible de tipo entero
altura = 1.70          # variable de tipo Float 
es_estudiante = True    # variable de tipo bool
print (type(nombre))
print (type(edad))
print (type(altura))
print (type(es_estudiante))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

TIPO DE DATOS -- LISTAS

In [41]:
# lista vacia 
lista1 = []

#lista de enteros 
lista2 = [1,2,3,4,5]

#Lista de string o cadena
lista3 = ["apple","hello","oranges"]

#Lista mixta 
lista4 = [2,3,"hello",44.4]

#lista Anidada
lista5 = [1,2,["hello",44.4],["x"]]

[1, 2, ['hello', 44.4], ['x']]

In [42]:
print (lista5)

[1, 2, ['hello', 44.4], ['x']]

In [45]:
# Accediendo a elementos de una lista
"""
Referencia de posiciones 
a-->0
b-->1
c-->2
d-->3
e-->4
f-->5
"""
lista = ["a","b","c","d","e","f"]

In [55]:
## impriomiendo el valor de la tercera posicion
print (lista[3])
print (lista[2])

d
c

In [58]:
lista5 = [1,2,["hello",44.4],["x"]]
print (lista5[2][0])

hello

In [60]:
lista = ["a","b","c","d","e","f"]
#lista[2:4] ->indice  2 hasta el indice 3
#lista[2:5] ->indice  2 hasta el indice 4
print (lista[2:5])

['c', 'd', 'e']

TIPO DE DATOS - TUPLAS

In [65]:
# TUPLA VACIA
tupla1 = ()
print (tupla1)

# Tupla entero
tupla2 = (1,2,3)
print (tupla2)

#tupla Mixta
tupla3 = (1,"hello",4.4)
print (tupla3)

#Tupla Anidadas
tupla4 = ("apple",1, [1,2,3], (4,9,6) )
print (tupla4)

()
(1, 2, 3)
(1, 'hello', 4.4)
('apple', 1, [1, 2, 3], (4, 9, 6))

In [69]:
tupla=("hello")
print(type(tupla))

<class 'str'>

In [73]:
#tupla como elemento
tupla=("hello",)
print(type(tupla))

<class 'tuple'>

In [74]:
tupla = "a","b","c","d","e","f"
print(type(tupla))

<class 'tuple'>

In [80]:
print(tupla[0])
print(tupla[2])
print(tupla4[3][1])
print(tupla[1:4])

a
c
9
('b', 'c', 'd')

TIPOS DE DATOS -- DICCIONARIO

In [83]:
#DICCIONARIO VACIO
diccionario1={}

#DICCIONARIO CON CLAVEZ ENTERAS
diccionario2={1:"Juan",2:'Perez'}

#DICCIONARIO CON CLAVES MIXTAS
diccionario3 = {"nombre":"Jhon",1:[1,2,3,4]}

print (diccionario3)

{'nombre': 'Jhon', 1: [1, 2, 3, 4]}

In [84]:
diccionario= {"nombre":"Jack","edad":24, "pais":"Peru"}
print (diccionario['nombre'])

Jack

In [88]:
# en caso que no exista la llave podemos usar get para que no salga error
print (diccionario.get('direccion'))

None

In [91]:
diccionario['direccion']="Calle B"

In [92]:
print (diccionario.get('direccion'))

Calle B

In [95]:
#usar for para imprimir lista
for item in lista:
    print(item)

a
b
c
d
e
f

In [96]:
#imprimimos con iteracion  tupla
for item in tupla:
    print(item)

a
b
c
d
e
f

In [98]:
for clave,valor in diccionario.items():
    print (clave,valor)

nombre Jack
edad 24
pais Peru
direccion Calle B

In [99]:
for clave in diccionario.keys():
    print (diccionario[clave])

Jack
24
Peru
Calle B

CONTROL DE FLUJO

In [100]:
#CONTROL DE FLUJO CONDICIONAL
numero=3
if numero>0:
    print("El numero es positivo")
print ("Siempre se ejecuta")

El numero es positivo
Siempre se ejecuta

In [106]:
## if ...else...
numero=7
if numero>0:
    print("el numero es positivo")
    if numero <5:
        print("el numero el menor a 5")
    else:
        print("el numero es mayor a 5")    
else:
    print("el numero es negativo")    
print ("Siempre se ejecuta")

el numero es positivo
el numero es mayor a 5
Siempre se ejecuta

In [108]:
# para concatenar
for item in lista:
    print("el elemento de la lista es ", item)

el elemento de la lista es  a
el elemento de la lista es  b
el elemento de la lista es  c
el elemento de la lista es  d
el elemento de la lista es  e
el elemento de la lista es  f

In [109]:
# para concatenar
for item in lista:
    print("el elemento de la lista es "+ item)

el elemento de la lista es a
el elemento de la lista es b
el elemento de la lista es c
el elemento de la lista es d
el elemento de la lista es e
el elemento de la lista es f

In [111]:
# bucle para concatenar conf string  
for item in lista:
    print(f"el elemento de la lista es {item}")

el elemento de la lista es a
el elemento de la lista es b
el elemento de la lista es c
el elemento de la lista es d
el elemento de la lista es e
el elemento de la lista es f

In [115]:
#while
n=10
sum=0
i=1

while i<=n:
    sum=sum+i
    i=i+1
    
print(f"la suma es {sum}")

la suma es 55

In [116]:
#control de flujo de excepcion 
try:
    print(234/0)
except:
    print("error")

error

In [119]:
#control de flujo de excepcion  error por sistema
try:
    print(234/0)
except Exception as e:
    print(e)
    print("error")

division by zero
error

FUNCIONES

In [120]:
def funcion1(x):
    return 2*x

y=funcion1(3)
print(y)

6

In [ ]:
def clean_data(dataset):
    df=dataset.query("colum1 !=null")
    df=df.select['columna1','columna2','columna3']
    return df